[Unit]
  Description=Block_test
  After=sshd.service
[Service]
  Environment="LD_LIBRARY_PATH=/home/mfss/StasLin/cmake/block/Poco/lib"
  ExecStart=/home/mfss/StasLin/cmake/block/Block_Rep/Block bb_setting-path=/home/mfss/StasLin/cmake/block target_platform=linux 
  #ExecStart=/usr/local/bin/Block_r bb_setting-path=/home/mfss/StasLin/cmake/block target_platform=linux 
  #ExecStart=/root/.vs/Block/out/build/linux-release/block/Block bb_setting-path=/root/.vs/Block target_platform=linux 
  Type=simple
  KillMode=process
  SyslogIdentifier=block
  SyslogFacility=daemon 
  RunTimeMaxSec=10s
  Restart=always
  RestartSec=5
  #RunTimeMaxSec=1d
  #RunTimeMaxSec=10s 
[Install]
  WantedBy=multi-user.target
