version: '1.0'
services:
  mo_test:
    build: ./DockerTest
    ports:
      - "8001:8001"
      - "8002:8002"
    volumes:
      - /home/mfss/Block/Test:/foo
    restart: unless-stopped
  mo_prod:
    build: ./DockerProd
    ports:
      - "8001:8001"
      - "8002:8002"
    volumes:
      - /home/mfss/Block/Prod:/foo
    restart: unless-stopped
  swagger-ui:
    image: swaggerapi/swagger-ui
    ports:
      - "8090:8080"
    environment:
      - SWAGGER_JSON=/foo/block_dock.yaml
    volumes:
      - ./Doc:/foo
    depends_on:
      - mo_test  
    restart: unless-stopped
  portainer:
    image: portainer/portainer-ce
    ports:
      - "8089:9000"
      - "8088:8000"
      - "8083:9443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock 
      - portainer_data:/data 
    restart: unless-stopped

volumes:
  portainer_data:
